.input {
  background-color: #6d687554;
  border: 2px #7c788967 solid;
  margin: 8px 20px;
  width: 80%;
  height: 40px;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.884);
  padding: 5px 10px;
  font-family: 'The Girl Next Door', cursive, Courier, monospace;
  font-size: 1.3rem;
  font-weight: bold;
}

.input:focus {
  background-color: #6d6875d3;
  border: 1px rgb(79, 29, 228) 54;
}
