.container {
  display: flex;
  width: 80%;
  margin: 0 0 40px 14%;
  align-items: center;
}

@media (width < 450px) {
  .container {
    width: 98%;
    margin: 0;
  }
}

.hidden {
  display: none;
}
