.submit {
  background-color: rgb(255, 22, 243);
  color: #fff;
  border: 2px #e4e2eb24 solid;
  height: 40px;
  width: 40px;
}

.submit:hover {
  color: black;
  border: 2px #e4e2eb9a solid;
  background-color: #ffffff;
}
