.bubble {
  list-style-type: none;
  font-family: 'The Girl Next Door', cursive, Courier, monospace;

  font-size: 1.4rem;
  font-weight: bold;

  position: relative;

  padding: 5px;
  margin: 10px;
  display: flex;
  text-align: left;
}

.ai {
  justify-content: flex-start;
}

.out-para {
  padding: 0 20px;
  border-radius: 10px;
  box-shadow: 3px 10px 10px 0px rgba(0, 0, 0, 0.25);
}

.ai .out-para {
  background-color: #b5838d;
}

.user {
  justify-content: flex-end;
}

.user .out-para {
  background-color: #e5989b;
}

p {
  margin: 10px;
}

.loading {
  width: 2rem;
}

@media (width < 450px) {
  .bubble {
    font-size: 1rem;
    padding: 2px;
    margin: 5px;
  }
  p {
    margin: 8px;
  }
  .out-para {
    padding: 0 10px;
  }
}
