.bubble {
  list-style-type: none;
  font-family: 'The Girl Next Door', cursive, Courier, monospace;
  /* font-family: 'Lato', sans-serif; */
  /* font-size: 20px; */
  font-size: 1.4rem;
  font-weight: bold;

  position: relative;
  /* display: block; */
  /* max-width: 30rem; */
  /* max-height: 350px; */
  /* border: 10px; */
  padding: 5px;
  margin: 10px;
  display: flex;
  text-align: left;
  /* margin: 5px; */
  /* background-color: aliceblue; */
}

.ai {
  /* float: left; */
  /* text-align: left; */
  justify-content: flex-start;
  /* background-color: rgb(179, 189, 189); */
}

.out-para {
  padding: 0 20px;
  border-radius: 10px;
  box-shadow: 3px 10px 10px 0px rgba(0, 0, 0, 0.25);
}

.ai .out-para {
  /* background-color: #e5989b; */
  background-color: #b5838d;
}

.user {
  /* float: right; */
  /* text-align: right; */
  justify-content: flex-end;
  /* background-color: rgb(191, 143, 143); */
}

.user .out-para {
  background-color: #e5989b;

  /* background-color: #b5838d; */
}

p {
  margin: 10px;
}

.loading {
  width: 2rem;
}

@media (width < 450px) {
  .bubble {
    font-size: 1rem;
    padding: 2px;
    margin: 5px;
  }
  p {
    margin: 8px;
  }
  .out-para {
    padding: 0 10px;
  }
}
