.users {
  display: flex;
  position: sticky;
  justify-content: space-between;
  width: 100%;
  background-color: #f18396;
  font-family: 'The Girl Next Door', cursive, Courier, monospace;
  font-weight: bold;
}
.users img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.users p {
  margin: 0 10px;
}
.profile {
  display: flex;
  align-items: center;
  margin: 0 20px;
}

.button-bar {
  display: flex;
}

.hidden {
  display: none;
}
