@import url('https://fonts.googleapis.com/css2?family=The+Girl+Next+Door&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #ffb4a2;
}

code,
p {
  font-family: 'The Girl Next Door', cursive, Menlo, Monaco, Consolas,
    'Courier New', monospace;
}

img {
  pointer-events: none;
}
